.header {
  //background-color: rgba(123, 240, 248, 0.87);
  background-image: url("../img/site_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px; 
}
.menu{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.boatsContent{
  margin-top: 30px;
  margin-bottom: 30px;
}

.actualboat{
  background-color: #dbe8eb;
  border-radius: 10px; 
}

.contentActual{
  padding: 15px;
}

.motorimg{
 width: 50%;
 margin: 40px;
}
.btn{
 
  background-color: #3082c5;
}

.btn a{
  color: white;
  text-decoration: none;

}

.btnSecond {
  margin: 10px;
  background-color: #a6cfe2;
  color: rgb(16, 64, 87);
  border: 1px solid #a6cfe2;
}
.motordetails{
  padding: 20px 20px 10px 20px;
}