.header {
  background-image: url("../img/site_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px; }

.menu {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px; }

.boatsContent {
  margin-top: 30px;
  margin-bottom: 30px; }

.actualboat {
  background-color: #dbe8eb;
  border-radius: 10px; }

.contentActual {
  padding: 15px; }

.motorimg {
  width: 50%;
  margin: 40px; }

.btn {
  background-color: #3082c5; }

.btn a {
  color: white;
  text-decoration: none; }

.btnSecond {
  margin: 10px;
  background-color: #a6cfe2;
  color: #104057;
  border: 1px solid #a6cfe2; }
